@inject IHttpContextAccessor httpContextAccessor
@using ObjectModel.Dtos
@{
    ViewData["Title"] = "Favourite List";
    var favourites = ViewBag.Favourites as IEnumerable<FavouriteDTO>;
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i>Home</a>
                    <a href="#">Favourite</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                @*<div class="product__page__filter">
                                <p>Order by:</p>
                                <select>
                                <option value="">A-Z</option>
                                <option value="">1-10</option>
                                <option value="">10-50</option>
                                </select>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @if (favourites.Any())
                        {
                            @foreach (var item in favourites)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <a asp-controller="Manga" asp-action="MangaDetail" asp-route-storyId="@item.StoryDTO.StoryId">
                                            <div class="product__item__pic set-bg" data-setbg="@item.StoryDTO.ImageStory">
                                                <div class="ep">@item.StoryDTO.ListOfChapter.Count / ?</div>
                                                @*<div class="comment"><i class="fa fa-comments"></i> 11</div>*@
                                                <div class="view"><i class="fa fa-eye"></i> @item.StoryDTO.View</div>
                                            </div>
                                        </a>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>Active</li>
                                                <li>Movie</li>
                                            </ul>
                                            <div class="form-check my-2">
                                                <input class="form-check-input" type="checkbox" data-story-id="@item.StoryId" id="favorite-checkbox-@item.StoryId" checked>
                                                <label class="form-check-label text-white" for="favorite-checkbox-@item.StoryId">
                                                    Delete to Favorites
                                                </label>
                                            </div>
                                            <h5><a href="#">@item.StoryDTO.Title</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="section-title">
                                <h4><span class="text-danger">You haven't liked any stories yet.</span></h4>
                            </div>
                        }
                    </div>
                </div>
                @*<div class="product__pagination">
                <a href="#" class="current-page">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#"><i class="fa fa-angle-double-right"></i></a>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->