@using ObjectModel.Dtos
@{
    ViewData["Title"] = "Profile";
    var currentUser = ViewBag.User as UserDTO;
    var duplicate = ViewBag.Duplicate as string;
}

<section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Your Profile</h2>
                    <p>Welcome to the official Anime blog.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="profile spad">
    <div class="container">
        <form action="/User/EditProfile" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="profile__image text-center">
                        <img src="@currentUser.ImageUser" alt="Profile Picture" id="profile-picture"
                             class="rounded-circle img-thumbnail">
                        <input type="hidden" name="ImageUser" value="@currentUser.ImageUser">
                        <input type="file" name="File" class="mt-2 text-white">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profile__info">
                        <h3 class="text-white">Edit Profile</h3>
                        @*@if (!string.IsNullOrWhiteSpace(duplicate))
                        {
                        <h4 class="text-danger my-4">Duplicate !!!</h4>
                        }*@
                        <div class="form-group">
                            <span class="icon_profile text-white"></span>
                            <input type="text" name="FullName" placeholder="Full Name" id="full-name" value="@currentUser.FullName"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="icon_profile text-white"></span>
                            <input type="text" name="UserName" placeholder="User Name" id="user-name" value="@currentUser.UserName"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="icon_mail text-white"></span>
                            <input type="email" name="Email" placeholder="Email address" id="email" value="@currentUser.Email"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="text-white" for="gender">Gender:</label>
                            <div class="gender__select">
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="IsMale" id="male" value="True"
                                           class="form-check-input">
                                    <label for="male" class="form-check-label text-white">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="IsMale" id="female" value="False"
                                           class="form-check-input">
                                    <label for="female" class="form-check-label text-white">Female</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="site-btn btn btn-primary">Edit Profile</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
